body {
    color: #eeeeee;
    margin: 0;
    padding: 0;
    background: #23074d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cc5333, #23074d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Tajawal', sans-serif;
    font-size: 100%;
    font-weight: 200;
    text-align: center;
}

/*القائمة الجانبية*/
#openSide {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    transition: 0.4s;
    position: fixed;
    width: 80px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 1px solid;
    background-color: antiquewhite;
    color:chocolate;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition-timing-function: ease-out;

}

#openSide:hover {
    transition-timing-function: ease-out;
    box-shadow: 0 0 0;
}

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(66, 39, 90);
    background: linear-gradient(75deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease-out;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    right: 0;
    text-align: right;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition:all 0.5s;
    transition-timing-function: ease-out;
}

.sidenav a:hover {
    color: #222222;
    background-color: blanchedalmond;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.settings {
    float: right;
    bottom: 20px;
    position: absolute !important;
    width: 234px !important;
    text-align: center !important;
    background-color:burlywood;
    color: #555555 !important;
    font-weight: 400 !important;
    transition: 0.3s;
}

.settings:hover {
    border-radius: 0 !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 40px;
    transition: 0.3s;
    padding: 10px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.sidenav .closebtn:hover {
    color: red;
    background-color: transparent;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* NOTE الرقم المميز */
.sn {
    font-size: 3em;
}

/* NOTE اسم المشترك */
.sname {
    font-size: 2em;
}

/* NOTE التاريخ */
#date {
    float: left;
    width: 50%;
    font-size: 1.5em;
}

/* NOTE  اليوم */
#dateName {
    float: left;
    width: 50%;
    font-size: 1.5em;
}


.boxescontainer {
    float: left;
    display: block;
    width: 100%;
    margin-top: 30px;
}

.mainBox {
    float: left;
    width: 100%;
}

.mainBox h3 {
    margin: 10px;
    font-size: 2em;
}

.mainBox1 {
    margin: 0 auto;
    padding: 18px;
    width: 250px;
    height:250px;
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.8;
    border-radius: 20px;
    transition: .2s;
}

.mainBox1 img {
    width: 80%;
}

.mainBox1 p {
    width: 100%;
    margin: 0;
    color: #111111;
    font-weight: 300;
    font-size: 1.5em;
}

.mainBox1:hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease-out;
    opacity: 1;
}

.userData {
    float: left;
    width: 100%;
    margin: 40px 0;
}

.userDataBox {
    float: left;
    width: 50%;
    margin: 30px 0;
}

.userDataBox h5 {
    margin: 4px;
    font-size: 1.7em;
    font-weight: 400;
}

.userDataBox1 {
    width: 180px ;
    height: 180px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    border-radius: 20px;
    transition: .5s;
    padding: 10px;
    opacity: 0.8;
}

.userDataBox1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease-out;
    opacity: 1;
}

.userDataBox1 img {
    width: 75%;
}

.userDataBox1 p {
    width: 100%;
    margin: 0;
    font-size: 1.7em;
}

footer {
    float: left;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    background-color: blanchedalmond;
    color: #222222;
}

footer q {
    width: 80%;
}
