body {
    color: #eeeeee;
    margin: 0;
    padding: 0;
    background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Tajawal', sans-serif;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
}

.sn {} /* NOTE الرقم المميز */

.sname {} /* NOTE اسم المشترك */

#date {
    float: left;
    width: 50%;
} /* NOTE التاريخ */

#dateName {
    float: left;
    width: 50%;
} /* NOTE  اليوم */

.boxescontainer {
    float: left;
    display: block;
    width: 100%;
    margin-top: 30px;
}

.mainBox {
    float: left;
    width: 100%;
}

.mainBox h3 {
    margin: 10px;
}

.mainBox1 {
    margin: 0 auto;
    padding: 18px;
    width: 200px;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.7;
    border-radius: 10px;
    transition: .2s;
}

.mainBox1 img {
    width: 80%;
}

.mainBox1 p {
    width: 100%;
    margin: 0;
    color: #111111;
    font-weight: 300;
}

.mainBox1:hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease-out;
    opacity: 1;
}

.userData {
    float: left;
    width: 100%;
    margin: 40px 0;
}

.userDataBox {
    float: left;
    width: 50%;
    margin: 30px 0;
}

.userDataBox h5 {
    margin: 4px ;
}

.userDataBox1 {
    width: 140px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
    border-radius: 10px;
    transition: .5s;
    padding: 10px;
    opacity: 0.8;
}

.userDataBox1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease-out;
    opacity: 1;
}

.userDataBox1 img {
    width: 40%;
}

.userDataBox1 p {
    width: 100%;
    margin: 0;
}

footer {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 80px;
    background-color:blanchedalmond;  ;
    color: #222222;
}

footer q {
    top: 50%;
    position: relative;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
